Options -MultiViews -Indexes

RewriteEngine on
RewriteOptions AllowNoSlash
DirectorySlash Off


RewriteRule ^.*\.git.* - [R=404]

ErrorDocument 403 http://%{HTTP_HOST}/error/403
ErrorDocument 404 http://%{HTTP_HOST}/error/404
ErrorDocument 500 http://%{HTTP_HOST}/error/404

RewriteRule ^error/403/?$ /error/403.php [L]
RewriteRule ^error/404/?$ /error/404.php [L]
RewriteRule ^error/500/?$ /error/500.php [L]


RewriteRule ^account/register/?$ /account/register.php [L]
RewriteRule ^account/verify/?$ /account/verify.php [L]
RewriteRule ^account/login/?$ /account/login.php [L]
RewriteRule ^account/forget/?$ /account/forget.php [L]
RewriteRule ^account/security/?$ /account/security.php [L]
RewriteRule ^account/api/?$ /account/api.php [L]
RewriteRule ^account/affiliate/?$ /account/affiliate.php [L]

RewriteRule ^wallet/?$ /wallet/overview.php [L]
RewriteRule ^wallet/deposit/([^/]+)/?$ /wallet/deposit.php [L]
RewriteRule ^wallet/deposit/?$ /wallet/deposit.php [L]
RewriteRule ^wallet/withdraw/([^/]+)/?$ /wallet/withdraw.php [L]
RewriteRule ^wallet/withdraw/?$ /wallet/withdraw.php [L]
RewriteRule ^wallet/transfer/([^/]+)/?$ /wallet/transfer.php [L]
RewriteRule ^wallet/transfer/?$ /wallet/transfer.php [L]
RewriteRule ^wallet/transactions/?$ /wallet/transactions.php [L]
RewriteRule ^wallet/addressbook/?$ /wallet/addressbook.php [L]

RewriteRule ^info/announcements/?$ /info/announcements.php [L]
RewriteRule ^info/fees/?$ /info/fees.php [L]
RewriteRule ^info/trading-rules/?$ /info/trading_rules.php [L]
RewriteRule ^info/listing/?$ /info/listing.php [L]
RewriteRule ^info/announcements/([^/]+)/?$ /info/announcement.php [L]
RewriteRule ^info/voting/?$ /info/voting.php [L]
RewriteRule ^info/rules/?$ /info/rules.php [L]
RewriteRule ^info/support/?$ /info/support.php [L]


RewriteRule ^spot(/.*)?$ /modules/spot/$1 [L]
RewriteRule ^bridge(/.*)?$ /modules/bridge/$1 [L]
RewriteRule ^mining(/.*)?$ /modules/mining/$1 [L]
RewriteRule ^p2p(/.*)?$ /modules/p2p/$1 [L]
RewriteRule ^nft/studio(/.*)?$ /modules/nft/studio/$1 [L]
RewriteRule ^nft(/.*)?$ /modules/nft/$1 [L]
RewriteRule ^gamble(/.*)?$ /modules/gamble/$1 [L]
